/* .cta-outline {
    color: #0B4245;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ffffff;
    border-radius: 40px;
    border-color: #0B4245;
  } */

.go {
    color:#0B4245;
    font-size: 40px;
    margin-top: 20px;
}