.twitter {
    text-align: center !important;
    display: inline !important;
    /* margin: auto !important; */
    color:black;
    margin-right:15px;
}
.facebook {
    text-align: center !important;
    display: inline !important;
    /* margin: auto !important; */
    color:black;
    margin-right:15px;
}
.center {
    margin: auto;
}